:root {
  --branding-color: #000000;
  --text-font-family: "Sarabun", sans-serif;
  --paragraph-color: #ffffff;
}

body {
  background-color: black;
}

p,
span,
h5,
a {
  color: var(--paragraph-color);
  font-family: var(--text-font-family);
}

.hero {
  background-blend-mode: overlay;
  width: 1442px;
  height: 300px;
  margin-top: 20px;
  text-align: left;
  padding-top: 180px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 4px;
}

.navbar-toggler-icon {
  font-size: 18px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-weight: light;
}

h1,
h2,
h4 {
  font-size: 65px;
  color: white;
  font-family: var(--branding-color);
  font-weight: 500;
  font-style: normal;
}

h3 {
  font-size: 58px;
  color: white;
  text-align: center;
  font-family: var(--branding-color);
  padding-top: 10px;
  padding-bottom: 10px;
}

h5 {
  font-size: 28px;
}

.discover {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (max-width: 600px) {
  .hero {
    background-blend-mode: overlay;
    width: 1442px;
    height: 450px;
    margin-top: 50px;
    text-align: left;
    padding-top: 80px;
    padding-left: 10px;
  }

  .social {
    display: none;
  }

  .social {
    text-align: center;
  }

  .navbar-text {
    text-align: center;
  }

  p,
  span,
  h5,
  a {
    color: var(--paragraph-color);
    font-family: var(--text-font-family);
  }

  .navbar-toggler-icon {
    font-size: 18px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
  }

  .world-clock {
    text-align: left;
    color: white;
    position: relative;
    display: flex;
    border-radius: 4px;
  }

  .poem-generator {
    text-align: center;
    color: white;
    position: relative;
    display: flex;
    border-radius: 4x;
  }

  .python {
    text-align: center;
    color: white;
    position: relative;
    display: flex;
    border-radius: 4px;
  }

  .weather_app {
    text-align: center;
    color: white;
    position: relative;
    display: flex;
    border-radius: 4px;
  }

  h4 {
    top: 0;
    bottom: 0;
    position: absolute;
    color: white;
    font-family: var(--text-font-family);
    padding-left: 1px;
    text-align: center;
    width: 100%;
    left: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: 28px;
  }

  h3 {
    padding-top: 10px;
  }

  .projects {
    font-size: 28px;
  }

  .btn.btn-branding {
    color: white;
    font-size: 26px;
    width: 300px;
    height: 50px;
    font-family: var(--text-font-family);
    font-weight: 500;
    font-style: normal;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .together {
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
  }

  .contactbox {
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 60px;
  }
}

.btn.btn-branding {
  color: white;
  font-size: 26px;
  width: 300px;
  height: 50px;
  font-family: var(--text-font-family);
  font-weight: 500;
  font-style: normal;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.interest {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #01092b;
}

.world-clock {
  border-radius: 4px;
  text-align: center;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
}

.poem-generator {
  text-align: center;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 4px;
}

.python {
  text-align: center;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 4px;
}

.weather_app {
  text-align: center;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 4px;
}

h4 {
  top: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: white;
  padding: 175.5px;
  font-size: 48px;
  font-family: var(--text-font-family);
}

p {
  color: white;
}

h6 {
  color: white;
}

.test {
  color: white;
  justify-content: center;
  display: flex;
  text-align: center;
}

.skill {
  justify-content: center;
  display: flex;
  text-align: center;
}

.container-fluid {
  width: 100%;
}

.photo-about {
  --paragraph-color: #ffffff;
}

.texte-about {
  --paragraph-color: #ffffff;
}

.presentation {
  display: flex;
  justify-content: left;
  text-align: justify;
  align-items: center;
  width: 100%;
  height: auto;
}

.photopresentation {
  text-align: center;
  display: flex;
  align-items: center;
  height: auto;
}

.chess {
  height: 300px;
  width: auto;
}

.projects {
  padding-top: 100px;
  margin-top: 140px;
  font-size: 68px;
  text-align: center;
}

.resume {
  padding-top: 10px;
  margin-top: 180px;
  text-align: center;
}

footer .email-link {
  text-decoration: none;
  color: rgb(244, 241, 241);
  font-size: 23px;
  text-align: center;
}

footer .email-link:hover {
  color: blue;
}

footer {
  margin: 60px 0;
}

.final {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}
