:root {
  --branding-color: #000000;
  --text-font-family: "Sarabun", sans-serif;
}

body {
  background-color: black;
}

.hero {
  width: 1442px;
  height: 650px;
  margin-top: 80px;
  position: relative;
}

.presentation {
  position: absolute;
  top: 0;
  bottom: 0;
  padding-top: 150px;
}

h1,
h2 {
  font-size: 68px;
  color: white;
  font-family: var(--branding-color);
  font-weight: 500;
  font-style: normal;
  padding-left: 140px;
}

h3 {
  font-size: 58px;
  color: white;
  text-align: center;
  font-family: var(--branding-color);
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 30px;
  color: white;
  font-size: 26px;
  width: 350px;
  height: 50px;
  margin-left: 140px;
  font-family: var(--text-font-family);
  font-weight: 500;
  font-style: normal;
  text-align: center;
}
